html {
	font-size: 20;
	--page-width: 48ch;
}

div.header {
	text-align: center;
	margin: auto;
	font-weight: bold;
	font-size: 150%;
	max-width: var(--page-width);
}

div.text {
	max-width: var(--page-width);
	margin: auto;
	text-align: justify;
}

div.link {
	max-width: var(--page-width);
	margin: auto;
	margin-top: 0.5ch;
}

div.stats {
	max-width: var(--page-width);
	margin: auto;
	margin-top: 4ch;
}

img.medkit {
	width: 3ch;
	margin: 0.2ch;
	position: relative;
	top: 0.7ch;
}

img.credit {
	width: 3ch;
	position: relative;
	top: 0.7ch;
	left: 0.5ch;
}

img.rocket {
	width: 3ch;
	position: relative;
	top: 0.8ch;
}

img.nails {
	width: 3ch;
	position: relative;
	top: 0.8ch;
}

img.oil {
	width: 3ch;
	position: relative;
	top: 1.2ch;
	margin-left: 0.2ch;
}

img.wheel {
	width: 3ch;
	position: relative;
	top: 0.8ch;
	margin-left: 0.2ch;
}

img.canister {
	width: 3ch;
	position: relative;
	top: 0.6ch;
	margin-left: 0.2ch;
}